/* 
light grey: 
medium grey:  #fff
dark grey: 
text: #333
f9f9f9
*/


body{
    background: #f1f1f1;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
    height: 100%;
}
#content{
    max-height: 250%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 50px;
    margin-right: 50px;
    background: #fff;
    box-shadow: 0 0px 3px rgba(0,0,0,0.3);
}

#titles{
    background: #f9f9f9;
    padding: 3%;
    border-bottom: 1px solid lightgrey;
}

#description{
    width: 70%;
    margin: 3%;
    font-size: 19px;
    max-height: inherit;
}
#buyNow{
    border: 1px solid #333;
    border-radius: 2%;
    width: 45%;
    height: 300px;
    padding: 10px;
    text-align: center;
    position: relative;
    top: -50px;
    left: 30px;
    z-index: 1;
    background: #f9f9f9;
    float: right;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}
.underline{
    border-bottom: 1px solid lightgrey;
}

button{
    width: 90%;
    height: 45px;
    color: white;
    font-size: 20px;
    background-color: #08c;
    border-color: #08c;
    cursor: pointer;
}
button:hover{
    background-color: #0077b3;
    border-color: #006699;
}
h1 strong{
    font-size: 40px;
}

hr{
    width: 90%;
    color: lightgrey;
}
#space{
    margin-top: 30px;
    padding-bottom: 30px;
}

#generalInfo{
    margin-top: 20px;
    margin-left: 75px;
    margin-right: 75px;
    padding: 20px;
    background-color: #f1f1f1;
    box-shadow: 0 0px 3px rgba(0,0,0,0.3);
    text-align: center;
}
#generalInfo h1{
    padding: 0;
    margin: 0;
    text-align: left;
}

span{
    font-size: 20px;
}
