#standard_body{
    margin: 120px;
    font-family: 'Nunito Sans', sans-serif;
}
#standard_header{
    background-color:#fcfcfc;
    border: 2px solid #bee5fb;
    padding: 20px 40px;
    font-size: 50px;
}
#standard_img{
    position: relative;
    top: 6px;
}
#standard_number{
    display: inline;
    color: #292929;
}
#standard_name{
    color:#414141;
    font-size: 30px;
}
#marketing{
    background-color: #f2ecec;
    border: 2px solid #d9f0fd;
    padding: 12px 40px;
    color:#414141;
    font-size: 21px;
}
#standard_content{
    background-color:#fcfcfc;
    border: 2px solid #bee5fb;
    padding: 12px 40px;
    padding-right: 20px;
}
#standard_footer{
    background-color:#f5f0f0;
    border: 2px solid #d9f0fd
}
.container_column{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.container_row{
    display: flex;
    flex-direction: row;
}
#standard_blurb{
    margin: 10px;
}
.standard_inner_box{
    border: 2px solid #bee5fb;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
    background-color:#f9f9f9;
}
.standard_info{
    margin: 10px;
    font-size: 16px;
}
#standard_gen_info{
    font-size: 20px;
    height: 250px;
    overflow: auto;
}
#standard_content_left{
    width: 70%;
}
#vertical_bar{
    background-color: #eeeeee;
    width: 2px;
    margin: 3% 20px;
}
.buy_now{
    color:#414141;
    color: inherit;
    font-size: 22px;
    margin: 5px;
    text-align: center;
}
#purchase_link{
    text-decoration: none;
    color:#414141;
}
#purchase_box{
    margin-top: 20%;
}
#purchase_box:hover{
    background-color: #bee5fb;
}

#standard_content_right{
    width: 25%;
    align-content: flex-end;
}
#standard_preview{
    height: 250px;
    margin-top: auto;
}
#standard_footer{
    padding: 20px 40px;
    color:#414141;
    font-size: 21px;
}
#standard_footer div{
    padding-left: 40px;
}