/* styles with the prefix 'template_' are used accross multiple pages*/
.template_body{
    font-family: 'Nunito', sans-serif;
    margin: 30px;
    margin-top: 20px;

}
.template_bold{
    font-weight: 600;
}
.template_container_row{
    display: flex;
    flex-direction: row;
}
.template_content{
    background-color:#fcfcfc;
    border: 2px solid #bee5fb;
    padding: 12px 40px;
    padding-right: 20px;
}
.template_footer{
    background-color:#f5f0f0;
    border: 2px solid #d9f0fd;
    color:#414141;
    font-size: 21px;
    padding: 20px 40px;
}
.template_footer div{
    padding-left: 40px;
}
.template_header{
    background-color:#fcfcfc;
    border: 2px solid #bee5fb;
    font-size: 50px;
    padding: 20px 40px;
}
.template_img{
    position: relative;
    top: 6px;
}
.template_inner_box{
    background-color:#f9f9f9;
    border: 2px solid #bee5fb;
    border-radius: 10px;
    margin: 10px;
    padding: 10px 20px;
}
.template_name{
    color:#414141;
    font-size: 30px;
}
.template_number{
    color: #292929;
    display: inline;
}

.template_red_bar{
    background-color: #f2ecec;
    border: 2px solid #d9f0fd;
    color:#414141;
    font-size: 21px;
    padding: 12px 40px;
}


/* styles with the prefix 'standard_' are unique to standard.html */

/* ~~~~ */

#standard_big_preview{
    height: 500px;
    overflow: auto;
}

/* ~~~~ */

.standard_big_preview_no_block{
    /* compensate left and right margins for lack of 'template_conent'. i.e., adds margins of 'template_inner_block' and 'template_content' */
    margin-left: 60px !important;
    margin-right: 60px !important;
}

/* ~~~~ */

#standard_blurb{
    margin: 10px;
}
.standard_buy_now{
    color:#414141;
    color: inherit;
    font-size: inherit;
    margin: 5px;
    text-align: center;
}
.standard_container_column{
    align-items: stretch;
    display: flex;
    flex-direction: column;
}
#standard_content_left{
    width: 70%;
}
#standard_content_right{
    align-content: flex-end;
    width: 25%;
}
#standard_gen_info{
    font-size: 20px;
    color: #292929;
    /* height: 250px; */
    /* overflow: auto; */
}
#standard_gen_info p{
    font-size: 22px;
    /* text-decoration: underline; */
}
.standard_hr{
    width: 70%;
}
.standard_info{
    font-size: 16px;
    margin: 10px;
}

/* .standard_info ul{
    display: inline-block;
} */
.standard_info ul a {
   color: #292929;
   font-size: 14px;
}
.standard_info ul a li{
    padding-bottom: 5px;
}
.standard_info table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    color: #292929;
}
.standard_info table th{
    font-size: 17px;
    font-weight: 400;
    background-color:#f2ecec
}
.standard_info table td{
    background-color: white;
    font-size: 14px;
}
.standard_info table, .standard_info th, .standard_info td {
    color: #292929;
    border: 1px solid #292929;
    padding: 5px;
    border-collapse: collapse;
    text-align: center;
  }

#standard_preview{
    height: 250px;
    margin-top: auto;
}
#standard_purchase_box{
    font-size: 22px;
    margin-top: 20%;
}
#standard_purchase_box:hover{
    background-color: #bee5fb;
    font-size: 23px;
}
#standard_purchase_link{
    color:#414141;
    text-decoration: none;
}
#standard_vertical_bar{
    background-color: #eeeeee;
    margin: 3% 20px;
    width: 2px;
}
/* styles with the prefix 'abstract_' are unique to fedRegAbstract.html */
.abstract_heading{
    color:#414141;
    font-size: 21px;
    margin-top: 40px;
}
.abstract_heading:nth-child(1){
    margin-top: 0;
}
.abstract_info{
    color:#414141;
    font-size: 17px;
    margin-top: 5px;
}
#abstract_left_side{
    padding: 12px 40px;
    padding-right: 20px;
    width: 50%;
}
#abstract_right_side{
    margin-bottom: auto;
    margin-top: auto;
    width: 50%;
}
.abstract_sub_subtitle{
    color:#414141;
    font-size: 18px;
    margin-top: 6px;
}

/* styles with the prefix 'landing_' are unique to ahriLanding.html */

.landing_header{
    background-color: rgba(252, 252, 252, .93);
}

#landing_background{
    background: 
    /* linear-gradient( */
      /* rgba(255, 255, 255, 0.2), 
      rgba(255, 255, 255, 0.2)
    ), */
    url("ahriLogo.jpg");
    background-size: 50%;
    background-position: center;
    background-position-y: 90%;  
    background-repeat: no-repeat;
    background-attachment: fixed;
      }

#landing_description{
      padding: 20px 30px;
      font-size: 20px;
} 
.landing_content{
    background-color:rgba(252,252,252, .93);
}
#landing_flavor{
    width: 250px;
    margin: 20px 15px;
    border: 1px solid white;
    border-radius: 10px;
}
.landing_hr{
    width: 50%;
}
.landing_blurb{
    margin: 15px;
}
.landing_center_items{
    align-items: center;
}
.landing_center_items i{
    padding-left: 40px;
    padding-right: 40px;
}

/* ~~~~ */

.parent_child_link{
    color: inherit;
    font-size: 16px;
    display: block;
    margin-top: 40px;
    color: #414141;
}
.parent_child_link:nth-child(1){
    margin-top: 10px;
}
.parent_spacer{
    width: 15%;
    display: inline-block;
    line-height: .5;
    color: #eee;
}
.parent_child_description{
    display: inline;
    font-size: 16px;
    color: #414141
}
/* ~~~ */
.child_link{
    color: #444;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}
.child_container{
    color: #444;
    display: flex;
    flex-direction: row;
}
.child_price{
    min-width: 100px;
}

.child_hr{
    margin-left: 100px;
}